.center-buttons {
  position: fixed;
  left: 50vw;
  margin-left: -234px;
  top: 30px;
}

.navbar-button {
  font-family: Poppins, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  border: none;
  background: none;
  letter-spacing: 1px;
}

.navbar-button:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  transition: 0.5s;
}

.pre-navbar {
  background-color: #030f2a;
  color: white;
  font-size: 11px;
  position: fixed;
  width: 100vw;
  top: -8px;
  padding-top: 10px;
  padding-bottom: 3px;
  text-align: center;
}

.member-button {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: none;
  background: none;
  position: relative;
  right: 30px;
}

.member-button:hover {
  text-decoration: underline;
  transition: 0.2s;
}

.pre-navbar-buttons {
  position: relative;
  height: 0px;
  top: -17px;
  text-align: right;
}

.container-fluid {
  position: fixed;
  top: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar {
  z-index: 100;
}

@media (max-width: 767px) {
  .navbar-button {
    display: none;
  }
}

.cart-summary {
  height: 100vh;
  background-color: white;
  opacity: 95%;
  box-shadow: 2px 2px 7px;
  position: fixed;
  right: 0;
  top: 67px;
  width: 0px;
  transition: 0.4s;
  z-index: -1;
  overflow-y: auto;
  padding-bottom: 200px;
}

.quick-button {
  border: none;
  background: none;
  margin-left: 10px;
  height: 29px;
  padding-bottom: 4px;
  border-radius: 9px;
}

.quick-button-holder {
  position: fixed;
  z-index: 101;
  left: 85vw;
  top: 26px;
}

.quick-button:hover {
  background-color: #030f2a;
  background-blend-mode: overlay;
  transition: 0.2s;
}

.cart-badge {
  position: fixed;
  right: 33px;
  z-index: 102;
  top: 18px;
  z-index: 100000;
}

.badge {
  background-color: red;
  position: fixed;
  z-index: 100000000;
  left: 94.5vw;
}

.cart-items {
  display: grid;
  grid-template-columns: 15vw 25vw 15vw 10vw 15vw;
  /* grid-template-columns: 350px 70px 70px 70px; */
  margin-top: 30px;
  align-items: center;
}

.cart-header {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.cart-items-name {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.8vh;
  margin-right: 50px;

  width: 1fr;
}

.cart-items-price {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
}

.cart-items-value {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
}

.cart-items-total {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.5vh;
}

.cart-items-image-container {
  margin-left: 3vw;
  margin-right: 5px;
}

.cart-items-image {
  width: 8vw;
}

.total-price {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 2.8vh;
  justify-items: right;
  margin-top: 15px;
  border-style: solid;
  border-color: #030f2a;
  margin-right: 8.5vw;
  margin-left: 8.5vw;
}
