.grid-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  width: 78vw;
  position: relative;
  top: 100px;
  right: 0px;
  z-index: 89;
  margin-left: 20vw;
}

.grid-item {
  margin: 10px;
}

.reset-button {
  position: relative;
}

.cart-summary {
  height: 100vh;
  background-color: white;
  opacity: 90%;
  box-shadow: 2px 2px 7px;
  position: fixed;
  right: 0;
  top: 67px;
  width: 0px;
  transition: 0.4s;
  z-index: -1;
  overflow-y: auto;
  padding-bottom: 200px;
}

.quick-button {
  border: none;
  background: none;
  margin-left: 10px;
  height: 29px;
  padding-bottom: 4px;
  border-radius: 9px;
}

.quick-button-holder {
  position: fixed;
  z-index: 101;
  right: 45px;
  top: 26px;
}

.quick-button:hover {
  background-color: #030f2a;
  background-blend-mode: overlay;
  transition: 0.2s;
}

.cart-badge {
  position: fixed;
  right: 33px;
  z-index: 102;
  top: 18px;
  z-index: 100000;
}

.badge {
  background-color: red;
  position: fixed;
  z-index: 100000000;
  right: 33px;
}

.myContainer {
  width: 250px;
  height: 50px;
  background: #aaa;
}

.cart-items {
  display: grid;
  grid-template-columns: 15vw 25vw 15vw 10vw 15vw;
  /* grid-template-columns: 350px 70px 70px 70px; */
  margin-top: 30px;
  align-items: center;
}

.cart-header {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.cart-items-name {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.8vh;
  margin-right: 50px;

  width: 1fr;
}

.cart-items-price {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
}

.cart-items-value {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
}

.cart-items-total {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.5vh;
}

.cart-items-image-container {
  margin-left: 3vw;
  margin-right: 5px;
}

.cart-items-image {
  width: 8vw;
}

.total-price {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 2.8vh;
  justify-items: right;
  margin-top: 15px;
  border-style: solid;
  border-color: #030f2a;
  margin-right: 8.5vw;
  margin-left: 8.5vw;
}

.reset-button {
  background-color: rgb(78, 78, 78);
  font-family: Bebas Neue, Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  z-index: 10;
  height: 100px;
  width: 230px;
  align-self: center;
  justify-self: center;
}

.reset-button:hover {
  background-color: black;
  color: white;
  transition-duration: 1.5s;
}
